python>=3.8
basemap
cartopy
cartopy_offlinedata
cmocean
cmaps
dask
dask-jobqueue
dask-labextension
distributed
fastparquet
git
git-lfs
gsw
h5netcdf
h5py
holoviews
hvplot
intake
intake-xarray
jupytext
matplotlib-base
nbval
nbgitpuller
netcdf4
nodejs
nomkl
numba
numcodecs
numpy
pandas
panel
papermill
pip
pytest
scipy
seaborn
seawater
xarray
xgcm
xhistogram
zarr
