python>=3.8
basemap
cartopy
cartopy_offlinedata
cmocean
cmaps
dask
dask-jobqueue
dask-labextension
distributed
fastparquet
git
git-lfs
gsw
h5netcdf
h5py
holoviews
hvplot
intake
intake-xarray
ipykernel>=6
jupytext
matplotlib-base
nbclassic>=0.2.8  # See https://github.com/jupyterlab/jupyterlab/issues/10228
nbval
nbgitpuller
netcdf4
nodejs
nomkl
numba
numcodecs
numpy
pandas
panel
papermill
pip
pytest
python-graphviz
pyviz_comms
scipy
seaborn
seawater
xarray
xgcm
xhistogram
zarr
